<a href="https://colab.research.google.com/github/tenvol/tsf00/blob/master/sparsity_and_l1_regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Copyright 2017 Google LLC.

In [0]:
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Sparsity and L1 Regularization

**Learning Objectives:**
  * Calculate the size of a model
  * Apply L1 regularization to reduce the size of a model by increasing sparsity

One way to reduce complexity is to use a regularization function that encourages weights to be exactly zero. For linear models such as regression, a zero weight is equivalent to not using the corresponding feature at all. In addition to avoiding overfitting, the resulting model will be more efficient.

L1 regularization is a good way to increase sparsity.

## Setup

Run the cells below to load the data and create feature definitions.

In [0]:
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))

In [3]:
np.random.permutation(np.linspace(1,100))

array([ 35.34693878,   9.08163265,  59.59183673,  55.55102041,
        61.6122449 ,  65.65306122,  49.48979592,  47.46938776,
        53.53061224,  13.12244898, 100.        ,  67.67346939,
        45.44897959,  41.40816327,  95.95918367,  51.51020408,
        37.36734694,  97.97959184,  77.7755102 ,  27.26530612,
        11.10204082,  19.18367347,  81.81632653,  25.24489796,
         1.        ,  21.20408163,   3.02040816,  75.75510204,
        33.32653061,  91.91836735,  63.63265306,  29.28571429,
        57.57142857,  73.73469388,  31.30612245,  89.89795918,
         5.04081633,  71.71428571,  23.2244898 ,   7.06122449,
        69.69387755,  83.83673469,  85.85714286,  43.42857143,
        87.87755102,  39.3877551 ,  93.93877551,  17.16326531,
        79.79591837,  15.14285714])

In [4]:
np.linspace(1,100)

array([  1.        ,   3.02040816,   5.04081633,   7.06122449,
         9.08163265,  11.10204082,  13.12244898,  15.14285714,
        17.16326531,  19.18367347,  21.20408163,  23.2244898 ,
        25.24489796,  27.26530612,  29.28571429,  31.30612245,
        33.32653061,  35.34693878,  37.36734694,  39.3877551 ,
        41.40816327,  43.42857143,  45.44897959,  47.46938776,
        49.48979592,  51.51020408,  53.53061224,  55.55102041,
        57.57142857,  59.59183673,  61.6122449 ,  63.63265306,
        65.65306122,  67.67346939,  69.69387755,  71.71428571,
        73.73469388,  75.75510204,  77.7755102 ,  79.79591837,
        81.81632653,  83.83673469,  85.85714286,  87.87755102,
        89.89795918,  91.91836735,  93.93877551,  95.95918367,
        97.97959184, 100.        ])

In [0]:
def preprocess_features(california_housing_dataframe):
  """Prepares input features from California housing data set.

  Args:
    california_housing_dataframe: A Pandas DataFrame expected to contain data
      from the California housing data set.
  Returns:
    A DataFrame that contains the features to be used for the model, including
    synthetic features.
  """
  selected_features = california_housing_dataframe[
    ["latitude",
     "longitude",
     "housing_median_age",
     "total_rooms",
     "total_bedrooms",
     "population",
     "households",
     "median_income"]]
  processed_features = selected_features.copy()
  # Create a synthetic feature.
  processed_features["rooms_per_person"] = (
    california_housing_dataframe["total_rooms"] /
    california_housing_dataframe["population"])
  return processed_features

def preprocess_targets(california_housing_dataframe):
  """Prepares target features (i.e., labels) from California housing data set.

  Args:
    california_housing_dataframe: A Pandas DataFrame expected to contain data
      from the California housing data set.
  Returns:
    A DataFrame that contains the target feature.
  """
  output_targets = pd.DataFrame()
  # Create a boolean categorical feature representing whether the
  # median_house_value is above a set threshold.
  output_targets["median_house_value_is_high"] = (
    california_housing_dataframe["median_house_value"] > 265000).astype(float)
  return output_targets

In [6]:
california_housing_dataframe['median_house_value'] > 265000

10831    False
574      False
10568    False
4984     False
11406    False
         ...
1171     False
3503     False
11776    False
5024      True
309      False
Name: median_house_value, Length: 17000, dtype: bool

In [7]:
(california_housing_dataframe['median_house_value'] > 265000).astype(float)

10831   0.0
574     0.0
10568   0.0
4984    0.0
11406   0.0
         ..
1171    0.0
3503    0.0
11776   0.0
5024    1.0
309     0.0
Name: median_house_value, Length: 17000, dtype: float64

In [8]:
(california_housing_dataframe['median_house_value'] > 265000)*1

10831    0
574      0
10568    0
4984     0
11406    0
        ..
1171     0
3503     0
11776    0
5024     1
309      0
Name: median_house_value, Length: 17000, dtype: int64

In [9]:
# Choose the first 12000 (out of 17000) examples for training.
training_examples = preprocess_features(california_housing_dataframe.head(12000))
training_targets = preprocess_targets(california_housing_dataframe.head(12000))

# Choose the last 5000 (out of 17000) examples for validation.
validation_examples = preprocess_features(california_housing_dataframe.tail(5000))
validation_targets = preprocess_targets(california_housing_dataframe.tail(5000))

# Double-check that we've done the right thing.
print("Training examples summary:")
display.display(training_examples.describe())
print("Validation examples summary:")
display.display(validation_examples.describe())

print("Training targets summary:")
display.display(training_targets.describe())
print("Validation targets summary:")
display.display(validation_targets.describe())

Training examples summary:

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_person
count,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0
mean,35.6,-119.6,28.6,2639.8,539.9,1426.3,501.0,3.9,2.0
std,2.1,2.0,12.6,2169.6,419.6,1124.3,381.9,1.9,1.3
min,32.5,-124.3,1.0,11.0,3.0,3.0,3.0,0.5,0.0
25%,33.9,-121.8,18.0,1461.0,297.0,787.0,281.0,2.6,1.5
50%,34.2,-118.5,29.0,2127.0,435.0,1166.0,410.0,3.5,1.9
75%,37.7,-118.0,37.0,3150.0,652.0,1723.2,607.2,4.8,2.3
max,42.0,-114.5,52.0,37937.0,6445.0,28566.0,6082.0,15.0,55.2

Validation examples summary:

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_person
count,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0
mean,35.6,-119.6,28.5,2652.9,538.3,1437.5,501.9,3.9,2.0
std,2.1,2.0,12.6,2204.9,426.1,1202.6,390.8,1.9,0.8
min,32.5,-124.3,1.0,2.0,1.0,6.0,1.0,0.5,0.1
25%,33.9,-121.8,18.0,1463.8,296.0,793.0,283.0,2.6,1.5
50%,34.2,-118.5,28.0,2129.0,432.0,1171.0,406.0,3.6,1.9
75%,37.7,-118.0,37.0,3153.0,639.0,1715.5,598.0,4.8,2.3
max,41.9,-114.3,52.0,30405.0,4819.0,35682.0,4769.0,15.0,19.1

Training targets summary:

       median_house_value_is_high
count                     12000.0
mean                          0.2
std                           0.4
min                           0.0
25%                           0.0
50%                           0.0
75%                           0.0
max                           1.0

Validation targets summary:

       median_house_value_is_high
count                      5000.0
mean                          0.3
std                           0.4
min                           0.0
25%                           0.0
50%                           0.0
75%                           1.0
max                           1.0

In [13]:
training_examples.columns

Index([u'latitude', u'longitude', u'housing_median_age', u'total_rooms',
       u'total_bedrooms', u'population', u'households', u'median_income',
       u'rooms_per_person'],
      dtype='object')

In [14]:
training_examples.head(9)

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_person
10831,37.6,-120.8,35.0,1395.0,264.0,756.0,253.0,3.6,1.8
574,33.8,-117.0,20.0,1317.0,203.0,453.0,158.0,2.8,2.9
10568,35.0,-120.5,32.0,1574.0,447.0,1772.0,463.0,1.9,0.9
4984,33.9,-118.1,17.0,1205.0,347.0,736.0,342.0,3.2,1.6
11406,40.3,-121.2,21.0,3229.0,667.0,1501.0,582.0,2.2,2.2
6124,34.0,-118.2,30.0,2562.0,959.0,3909.0,955.0,2.0,0.7
13395,37.8,-121.9,4.0,6875.0,1439.0,2889.0,1307.0,4.7,2.4
11031,39.1,-121.0,24.0,2069.0,436.0,909.0,374.0,2.5,2.3
14228,37.6,-122.1,15.0,2576.0,418.0,1657.0,410.0,5.5,1.6

In [16]:
dict(training_examples).items()[:9]

[('total_bedrooms', 10831   264.0
  574     203.0
  10568   447.0
  4984    347.0
  11406   667.0
           ...
  5451    231.0
  7766    306.0
  11998   357.0
  9729    294.0
  7584    326.0
  Name: total_bedrooms, Length: 12000, dtype: float64),
 ('median_income', 10831   3.6
  574     2.8
  10568   1.9
  4984    3.2
  11406   2.2
           ..
  5451    2.6
  7766    8.5
  11998   8.4
  9729    2.0
  7584    3.2
  Name: median_income, Length: 12000, dtype: float64),
 ('households', 10831   253.0
  574     158.0
  10568   463.0
  4984    342.0
  11406   582.0
           ...
  5451    222.0
  7766    292.0
  11998   359.0
  9729    307.0
  7584    303.0
  Name: households, Length: 12000, dtype: float64),
 ('housing_median_age', 10831   35.0
  574     20.0
  10568   32.0
  4984    17.0
  11406   21.0
          ...
  5451    45.0
  7766    20.0
  11998   33.0
  9729    33.0
  7584    36.0
  Name: housing_median_age, Length: 12000, dtype: float64),
 ('longitude', 10831   -120.8
  574     -117.0
  10568   -120.5
  4984    -118.1
  11406   -121.2
           ...
  5451    -118.2
  7766    -118.4
  11998   -121.4
  9729    -119.6
  7584    -118.4
  Name: longitude, Length: 12000, dtype: float64),
 ('total_rooms', 10831   1395.0
  574     1317.0
  10568   1574.0
  4984    1205.0
  11406   3229.0
           ...
  5451     894.0
  7766    1975.0
  11998   2648.0
  9729    1589.0
  7584    1392.0
  Name: total_rooms, Length: 12000, dtype: float64),
 ('rooms_per_person', 10831   1.8
  574     2.9
  10568   0.9
  4984    1.6
  11406   2.2
           ..
  5451    1.0
  7766    2.8
  11998   3.1
  9729    1.4
  7584    1.2
  Name: rooms_per_person, Length: 12000, dtype: float64),
 ('latitude', 10831   37.6
  574     33.8
  10568   35.0
  4984    33.9
  11406   40.3
          ...
  5451    34.0
  7766    33.8
  11998   38.6
  9729    36.6
  7584    34.2
  Name: latitude, Length: 12000, dtype: float64),
 ('population', 10831    756.0
  574      453.0
  10568   1772.0
  4984     736.0
  11406   1501.0
           ...
  5451     925.0
  7766     703.0
  11998    863.0
  9729    1102.0
  7584    1181.0
  Name: population, Length: 12000, dtype: float64)]

In [25]:
for k,v in dict(training_examples).items()[-9:]:
    print('key is {}, value is {}'.format(k,v))

key is total_bedrooms, value is 10831   264.0
574     203.0
10568   447.0
4984    347.0
11406   667.0
         ...
5451    231.0
7766    306.0
11998   357.0
9729    294.0
7584    326.0
Name: total_bedrooms, Length: 12000, dtype: float64


key is median_income, value is 10831   3.6
574     2.8
10568   1.9
4984    3.2
11406   2.2
         ..
5451    2.6
7766    8.5
11998   8.4
9729    2.0
7584    3.2
Name: median_income, Length: 12000, dtype: float64


key is households, value is 10831   253.0
574     158.0
10568   463.0
4984    342.0
11406   582.0
         ...
5451    222.0
7766    292.0
11998   359.0
9729    307.0
7584    303.0
Name: households, Length: 12000, dtype: float64


key is housing_median_age, value is 10831   35.0
574     20.0
10568   32.0
4984    17.0
11406   21.0
        ...
5451    45.0
7766    20.0
11998   33.0
9729    33.0
7584    36.0
Name: housing_median_age, Length: 12000, dtype: float64


key is longitude, value is 10831   -120.8
574     -117.0
10568   -120.5
4984    -118.1
11406   -121.2
         ...
5451    -118.2
7766    -118.4
11998   -121.4
9729    -119.6
7584    -118.4
Name: longitude, Length: 12000, dtype: float64


key is total_rooms, value is 10831   1395.0
574     1317.0
10568   1574.0
4984    1205.0
11406   3229.0
         ...
5451     894.0
7766    1975.0
11998   2648.0
9729    1589.0
7584    1392.0
Name: total_rooms, Length: 12000, dtype: float64


key is rooms_per_person, value is 10831   1.8
574     2.9
10568   0.9
4984    1.6
11406   2.2
         ..
5451    1.0
7766    2.8
11998   3.1
9729    1.4
7584    1.2
Name: rooms_per_person, Length: 12000, dtype: float64


key is latitude, value is 10831   37.6
574     33.8
10568   35.0
4984    33.9
11406   40.3
        ...
5451    34.0
7766    33.8
11998   38.6
9729    36.6
7584    34.2
Name: latitude, Length: 12000, dtype: float64


key is population, value is 10831    756.0
574      453.0
10568   1772.0
4984     736.0
11406   1501.0
         ...
5451     925.0
7766     703.0
11998    863.0
9729    1102.0
7584    1181.0
Name: population, Length: 12000, dtype: float64

In [0]:
def my_input_fn(features, targets, batch_size=1, shuffle=True, num_epochs=None):
    """Trains a linear regression model.
  
    Args:
      features: pandas DataFrame of features
      targets: pandas DataFrame of targets
      batch_size: Size of batches to be passed to the model
      shuffle: True or False. Whether to shuffle the data.
      num_epochs: Number of epochs for which data should be repeated. None = repeat indefinitely
    Returns:
      Tuple of (features, labels) for next data batch
    """
  
    # Convert pandas data into a dict of np arrays.
    features = {key:np.array(value) for key,value in dict(features).items()}                                            
 
    # Construct a dataset, and configure batching/repeating.
    ds = Dataset.from_tensor_slices((features,targets)) # warning: 2GB limit
    ds = ds.batch(batch_size).repeat(num_epochs)
    
    # Shuffle the data, if specified.
    if shuffle:
      ds = ds.shuffle(10000)
    
    # Return the next batch of data.
    features, labels = ds.make_one_shot_iterator().get_next()
    return features, labels

In [0]:
def get_quantile_based_buckets(feature_values, num_buckets):
  quantiles = feature_values.quantile(
    [(i+1.)/(num_buckets + 1.) for i in range(num_buckets)])
  return [quantiles[q] for q in quantiles.keys()]

In [0]:
def construct_feature_columns():
  """Construct the TensorFlow Feature Columns.

  Returns:
    A set of feature columns
  """

  bucketized_households = tf.feature_column.bucketized_column(
    tf.feature_column.numeric_column("households"),
    boundaries=get_quantile_based_buckets(training_examples["households"], 10))
  bucketized_longitude = tf.feature_column.bucketized_column(
    tf.feature_column.numeric_column("longitude"),
    boundaries=get_quantile_based_buckets(training_examples["longitude"], 50))
  bucketized_latitude = tf.feature_column.bucketized_column(
    tf.feature_column.numeric_column("latitude"),
    boundaries=get_quantile_based_buckets(training_examples["latitude"], 50))
  bucketized_housing_median_age = tf.feature_column.bucketized_column(
    tf.feature_column.numeric_column("housing_median_age"),
    boundaries=get_quantile_based_buckets(
      training_examples["housing_median_age"], 10))
  bucketized_total_rooms = tf.feature_column.bucketized_column(
    tf.feature_column.numeric_column("total_rooms"),
    boundaries=get_quantile_based_buckets(training_examples["total_rooms"], 10))
  bucketized_total_bedrooms = tf.feature_column.bucketized_column(
    tf.feature_column.numeric_column("total_bedrooms"),
    boundaries=get_quantile_based_buckets(training_examples["total_bedrooms"], 10))
  bucketized_population = tf.feature_column.bucketized_column(
    tf.feature_column.numeric_column("population"),
    boundaries=get_quantile_based_buckets(training_examples["population"], 10))
  bucketized_median_income = tf.feature_column.bucketized_column(
    tf.feature_column.numeric_column("median_income"),
    boundaries=get_quantile_based_buckets(training_examples["median_income"], 10))
  bucketized_rooms_per_person = tf.feature_column.bucketized_column(
    tf.feature_column.numeric_column("rooms_per_person"),
    boundaries=get_quantile_based_buckets(
      training_examples["rooms_per_person"], 10))

  long_x_lat = tf.feature_column.crossed_column(
    set([bucketized_longitude, bucketized_latitude]), hash_bucket_size=1000)

  feature_columns = set([
    long_x_lat,
    bucketized_longitude,
    bucketized_latitude,
    bucketized_housing_median_age,
    bucketized_total_rooms,
    bucketized_total_bedrooms,
    bucketized_population,
    bucketized_households,
    bucketized_median_income,
    bucketized_rooms_per_person])
  
  return feature_columns

## Calculate the Model Size

To calculate the model size, we simply count the number of parameters that are non-zero. We provide a helper function below to do that. The function uses intimate knowledge of the Estimators API - don't worry about understanding how it works.

In [0]:
def model_size(estimator):
  variables = estimator.get_variable_names()
  size = 0
  for variable in variables:
    if not any(x in variable 
               for x in ['global_step',
                         'centered_bias_weight',
                         'bias_weight',
                         'Ftrl']
              ):
      size += np.count_nonzero(estimator.get_variable_value(variable))
  return size

## Reduce the Model Size

Your team needs to build a highly accurate Logistic Regression model on the *SmartRing*, a ring that is so smart it can sense the demographics of a city block ('median_income', 'avg_rooms', 'households', ..., etc.) and tell you whether the given city block is high cost city block or not.

Since the SmartRing is small, the engineering team has determined that it can only handle a model that has **no more than 600 parameters**. On the other hand, the product management team has determined that the model is not launchable unless the **LogLoss is less than 0.35** on the holdout test set.

Can you use your secret weapon—L1 regularization—to tune the model to satisfy both the size and accuracy constraints?

### Task 1: Find a good regularization coefficient.

**Find an L1 regularization strength parameter which satisfies both constraints — model size is less than 600 and log-loss is less than 0.35 on validation set.**

The following code will help you get started. There are many ways to apply regularization to your model. Here, we chose to do it using `FtrlOptimizer`, which is designed to give better results with L1 regularization than standard gradient descent.

Again, the model will train on the entire data set, so expect it to run slower than normal.

In [0]:
def train_linear_classifier_model(
    learning_rate,
    regularization_strength,
    steps,
    batch_size,
    feature_columns,
    training_examples,
    training_targets,
    validation_examples,
    validation_targets):
  """Trains a linear regression model.
  
  In addition to training, this function also prints training progress information,
  as well as a plot of the training and validation loss over time.
  
  Args:
    learning_rate: A `float`, the learning rate.
    regularization_strength: A `float` that indicates the strength of the L1
       regularization. A value of `0.0` means no regularization.
    steps: A non-zero `int`, the total number of training steps. A training step
      consists of a forward and backward pass using a single batch.
    feature_columns: A `set` specifying the input feature columns to use.
    training_examples: A `DataFrame` containing one or more columns from
      `california_housing_dataframe` to use as input features for training.
    training_targets: A `DataFrame` containing exactly one column from
      `california_housing_dataframe` to use as target for training.
    validation_examples: A `DataFrame` containing one or more columns from
      `california_housing_dataframe` to use as input features for validation.
    validation_targets: A `DataFrame` containing exactly one column from
      `california_housing_dataframe` to use as target for validation.
      
  Returns:
    A `LinearClassifier` object trained on the training data.
  """

  periods = 7
  steps_per_period = steps / periods

  # Create a linear classifier object.
  my_optimizer = tf.train.FtrlOptimizer(learning_rate=learning_rate, l1_regularization_strength=regularization_strength)
  my_optimizer = tf.contrib.estimator.clip_gradients_by_norm(my_optimizer, 5.0)
  linear_classifier = tf.estimator.LinearClassifier(
      feature_columns=feature_columns,
      optimizer=my_optimizer
  )
  
  # Create input functions.
  training_input_fn = lambda: my_input_fn(training_examples, 
                                          training_targets["median_house_value_is_high"], 
                                          batch_size=batch_size)
  predict_training_input_fn = lambda: my_input_fn(training_examples, 
                                                  training_targets["median_house_value_is_high"], 
                                                  num_epochs=1, 
                                                  shuffle=False)
  predict_validation_input_fn = lambda: my_input_fn(validation_examples, 
                                                    validation_targets["median_house_value_is_high"], 
                                                    num_epochs=1, 
                                                    shuffle=False)
  
  # Train the model, but do so inside a loop so that we can periodically assess
  # loss metrics.
  print("Training model...")
  print("LogLoss (on validation data):")
  training_log_losses = []
  validation_log_losses = []
  for period in range (0, periods):
    # Train the model, starting from the prior state.
    linear_classifier.train(
        input_fn=training_input_fn,
        steps=steps_per_period
    )
    # Take a break and compute predictions.
    training_probabilities = linear_classifier.predict(input_fn=predict_training_input_fn)
    training_probabilities = np.array([item['probabilities'] for item in training_probabilities])
    
    validation_probabilities = linear_classifier.predict(input_fn=predict_validation_input_fn)
    validation_probabilities = np.array([item['probabilities'] for item in validation_probabilities])
    
    # Compute training and validation loss.
    training_log_loss = metrics.log_loss(training_targets, training_probabilities)
    validation_log_loss = metrics.log_loss(validation_targets, validation_probabilities)
    # Occasionally print the current loss.
    print("  period %02d : %0.2f" % (period, validation_log_loss))
    # Add the loss metrics from this period to our list.
    training_log_losses.append(training_log_loss)
    validation_log_losses.append(validation_log_loss)
  print("Model training finished.")

  # Output a graph of loss metrics over periods.
  plt.ylabel("LogLoss")
  plt.xlabel("Periods")
  plt.title("LogLoss vs. Periods")
  plt.tight_layout()
  plt.plot(training_log_losses, label="training")
  plt.plot(validation_log_losses, label="validation")
  plt.legend()

  return linear_classifier

In [0]:
linear_classifier = train_linear_classifier_model(
    learning_rate=0.1,
    # TWEAK THE REGULARIZATION VALUE BELOW
    regularization_strength=0.0,
    steps=300,
    batch_size=100,
    feature_columns=construct_feature_columns(),
    training_examples=training_examples,
    training_targets=training_targets,
    validation_examples=validation_examples,
    validation_targets=validation_targets)
print("Model size:", model_size(linear_classifier))

### Solution

Click below to see a possible solution.

A regularization strength of 0.1 should be sufficient. Note that there is a compromise to be struck:
stronger regularization gives us smaller models, but can affect the classification loss.

In [0]:
linear_classifier = train_linear_classifier_model(
    learning_rate=0.1,
    regularization_strength=0.1,
    steps=300,
    batch_size=100,
    feature_columns=construct_feature_columns(),
    training_examples=training_examples,
    training_targets=training_targets,
    validation_examples=validation_examples,
    validation_targets=validation_targets)
print("Model size:", model_size(linear_classifier))